$ColorModeVerde :#eceede ;
$ColorModeAzul :#044c9c ;
$ColorModeRojo :#b80000;
$ColorFacebook :#3b5999;
$ColorTwitter :#55acee;
$ColorBalsamiq :#dd4b39;
$TextoTamanoA: 20px;
$TextoTamanoB: 35px;
$porcentaje : 10%;