
/*
.position_sticky{     
    position:sticky;
    top: 0px;
}
*/
* {/*Selector Universal, todas las etiquetas se afectan */
    margin:0;
    padding:0;    
    box-sizing:border-box; /*Para no tener que andar restando bordes y paddings de las medidas*/
    
}

body{
    font-family: "Raleway", sans-serif;;
}
/************************************************ HEADER *********************************************/
header{
    background-color: #eceede;   
    box-shadow: 0px 10px 25px #eceede;
}

.headerContainer{
    display:flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

div{
    width : 80%;
    
    justify-content: center;
    align-items: center;    
    margin: 0 auto; 
    padding :0px 0 ;
    flex-direction:column;
}

.menuNav{
    display:grid;
    
    grid-template-areas: 
    "Logo Home Nosotros Sucursales Marcas Produccion ServDom Contacto"; 
    
}


div nav ul{
    font-family: "Raleway", sans-serif;;
    list-style-type: none;
    /* background-color: #044c9c;     */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div nav ul li{
    display: inline-block;
    margin: 0 0;
    
}


div nav ul li a{
    text-decoration: none;
    font-size: 18px;
    /* font-weight : bold; */
    padding: 14px 16px;
    background-color: #044c9c;
    color:cornsilk;
    border-radius: 1px;
    
}



div nav ul li a:hover{
    
    background-color: #eceede; 
    color: #044c9c; 
}

.active {
    background-color: #eceede;
    color: #044c9c;
  }

  .liLogo{
    position:absolute;
    grid-area: Logo;
  }
  .liHome{
    align-self: center;
    grid-area: Home;
  }
  .liNosotros{
    align-self: center;
    grid-area: Nosotros;
  }
  .liSucursales{
    align-self: center;
    grid-area: Sucursales;
  }
  .liMarcas{
    align-self: center;
    grid-area: Marcas;
  }
  .liProduccion{
    align-self: center;
    grid-area: Produccion;
  }
  .liServDom{
    align-self: center;
    grid-area: ServDom;
  }
  .liContacto{
    align-self: center;
    grid-area: Contacto;
  }



  header span{
    display:none;
}
/************************************************ BODY *********************************************/

h1{
    margin-top: 10px;
    text-align: center;
    font-family: "Raleway", sans-serif;;
}

section{
    width : 60%;
    display:flex;
    justify-content: center;
    align-items: center;    
    margin: 0 auto; 
    padding :0px 0    
}

section  ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: flex-start;


}

section  ul li{
    display: inline-block;    
    margin: 30px 10px;
    
}


section  ul li a{
    text-decoration: none;
    font-size: 14px;
    /* font-weig4t : bold; */
    padding: 10px 10px;
    
    color:cornsilk;
    border-radius: 10px;
    
}

.parrafo{
    text-align: justify;
}

.imagen{
    border-radius: 8px;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* .titulo{
    text-align: center;
} */

.titulo {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;

    position: relative;
    padding: 0;
    margin: 30px;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;    
    line-height: 1.3;
  }
  .titulo:before {
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    top: 97%;
    margin-left: -14px;
    background-color: #b80000;
  }
  .titulo:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: #b80000;
  }

  
/* .subtitulos{
    text-align: center;
} */


   .subtitulos {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    line-height: 1.3;
    text-align: center;
    font-size:20px; font-weight:200; color:#222; letter-spacing:1px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
    }
    
    .subtitulos:after,.subtitulos:before {
        content: " ";
        display: block;
        border-bottom: 1px solid #044c9c;
        border-top: 1px solid #044c9c;
        height: 5px;
      background-color:#f8f8f8;
    }


.gridSucursales{
    display:grid;    
    grid-template-areas: 
    "Sucursal1 Parrafo1"
    "Sucursal2 Parrafo2"
    "Sucursal3 Parrafo3"
    "Sucursal4 Parrafo4" ;
    justify-content: space-evenly;
    justify-items: center;
    gap: 20px;
    
}
.liSucursal1{    
    grid-area: Sucursal1;    

}
.liSucursal2{
    grid-area: Sucursal2;    
}
.liSucursal3{
    grid-area: Sucursal3;    
}
.liSucursal4{
    grid-area: Sucursal4;    
}
.pSucursal1{
    grid-area: Parrafo1;    
}
.pSucursal2{
    grid-area: Parrafo2;
}
.pSucursal3{
    grid-area: Parrafo3;
}
.pSucursal4{
    grid-area: Parrafo4;
}


.gridImagenes{
    display:grid;    
    grid-template-areas: 
    "txt txt txt txt"
    "imgA imgB imgC imgD"
    "imgE imgF imgG imgH"
    "imgI imgJ imgK imgL";
    justify-content: space-evenly;
    justify-items: center;
    gap: 20px;
    

}


.gridPrincipal{
    display:grid;    
    grid-template-areas: 
    "princialNosotros principalSucursales principalMarcas"
    "princialProducion principalServDom principalContacto";
    justify-content: space-evenly;
    justify-items: center;
    gap: 20px;
}

.gridPrincipalBloque1{
    grid-area: princialNosotros;  
}
.gridPrincipalBloque2{
    grid-area: principalSucursales;  
}
.gridPrincipalBloque3{
    grid-area: principalMarcas;  
}
.gridPrincipalBloque4{
    grid-area: princialProducion;  
}
.gridPrincipalBloque5{
    grid-area: principalServDom;  
}
.gridPrincipalBloque6{
    grid-area: principalContacto;  
}

.gridProduccion{
    display:grid;    
    grid-template-areas: 
    "Bloque1 Bloque1 Bloque1"
    "Bloque2 Bloque3 Bloque4";
    justify-content: space-evenly;
    justify-items: center;
    gap: 20px;
}
.gridProduccionBloque1{
    grid-area: Bloque1;  
}
.gridProduccionBloque2{
    grid-area: Bloque2;  
}
.gridProduccionBloque3{
    grid-area: Bloque3;  
}
.gridProduccionBloque4{
    grid-area: "Bloque4";  
}


.gridServDom{
    display:grid;    
    grid-template-areas: 
    "BloqueSD1 BloqueSD1"
    "BloqueSD2 BloqueSD3"
    "BloqueSD4 BloqueSD5";
    justify-content: space-evenly;
    justify-items: center;
    gap: 20px;
}

.gridServDomBloque1{
    grid-area: BloqueSD1;
}
.gridServDomBloque2{
    grid-area: BloqueSD2;
}
.gridServDomBloque3{
    grid-area: BloqueSD3;
}
.gridServDomBloque4{
    grid-area: BloqueSD4;
}
.gridServDomBloque5{
    grid-area: BloqueSD5;
}



.card {
    position: relative;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    width: 300px;
    height: 300px;
    background: #262626;
    overflow: hidden;
}
.card .imgBx,
.card .details {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    transition: .5s;
}
.card .imgBx {
    top: 0;
    left: 0;
}
.card:hover .imgBx {
    top: 0;
    left: -100%;
}
.card .imgBx img {
    width: 100%;
}
.card .details {
    background: #ffffff;
    top: 0;
    left: 100%;
    padding: 60px 30px;
    color:#262626;
}
.card:hover .details {
    top: 0;
    left: 0%;
}
.card .details h2 {
    color: #000;
    text-align: center;
    margin: 0;
    padding: 0 0 10px;
    border-bottom: 2px solid #000;

}
.card .details p {
    margin: 20px 0 0;
    color: #000;
}

/************************************************ FOOTER *********************************************/
footer{
    background-color: #eceede;  
    box-shadow: 0px 10px 25px #b4cb08;
}


.div2{
    width : 80%;
 
    justify-content: center;
    align-items: center;    
    margin: 0 auto; 
    padding :0px 0
}


.div2 nav ul{
    list-style-type: none;
    background-color: #eceede; 

    /* display: flex; */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    justify-content: center;
}

.div2 nav ul li{
    display: inline-block;
    margin: 0 0;

    list-style: none;

    
    
}


.div2 nav ul li a{
    text-decoration: none;
    font-size: 18px;
    /* font-weight : bold; */
    padding: 0px 0px;
    background-color: #eceede;
    color:cornsilk;
    border-radius: 50px;
    
    width: 80px;
  height: 80px;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}



.div2 nav ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
  }
  
  ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
  }


  .div2 nav  ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
  }
  
  .div2 nav ul li a:hover:before {
    top: 0;
  }
  
  .div2 nav ul li:nth-child(1) a:before{
    background: #3b5999;
  }
  
  .div2 nav ul li:nth-child(2) a:before{
    background: #55acee;
  }
  
  .div2 nav ul li:nth-child(3) a:before {
    background: #0077b5;
  }
  
  .div2 nav ul li:nth-child(4) a:before {
    background: #dd4b39;


  } 
.div2 nav ul li a img{
    position:relative;
    top:10px;

    
}


.footerNav{
    display:grid;
    grid-template-areas: 
    "face insta bals"
    "copyr copyr copyr";
    justify-content: space-evenly;
    justify-items: center;
    gap: 20px;
}

.liFace{
    grid-area: face;
}

.liInsta{
    grid-area: insta;
}
.liBals{
    grid-area: blas;
}

.liCopy{
    grid-area: copyr;
}

.sectionPosition{   
    position:relative;
}
.positionSticky{ 
    
    position:sticky;
    top: 0px;
    z-index: 100;
}





@media  (max-width: 768px){

    
    .positionSticky{     
        position:inherit;
        top: 0px;
    }


    header nav  {
        display:none;
    }
    
    .menuNav{                                
        grid-template-areas: 
        "Logo"
        "Home"
        "Nosotros" 
        "Sucursales" 
        "Marcas" 
        "Produccion" 
        "ServDom" 
        "Contacto";             

        /* max-width: 1200px; */
    /* margin:0 auto; */
    /* display:grid; */
    /* grid-template-columns: repeat(4,1fr); */
    gap:20px;
    margin-top:80px;
    }
    
    /* .footerNav .liCopy{
        display: none;
    }      */
    .HomeNosotros{
        display: none;
    }
    .HomeSucursales{
        display: none;
    }
    .HomeMarcas{
        display: none;
    }
    .HomeProduccion{
        display: none;
    }
    .HomeServDom{
        display: none;
    }
    .HomeContacto{
        display: none;
    }
    
    header span{
        display:inline-block;
    }
    
    .gridImagenes{
        display:grid;    
        grid-template-areas:         
        "imgA imgB"
        "imgC imgD"
        "imgE imgF"
        "imgG imgH"
        "imgI imgJ"
        "imgK imgL";
        justify-content: space-evenly;
        justify-items: center;
        gap: 20px;
        
    
    }           
    .gridProduccion{
        grid-template-areas: 
        "Bloque1"
        "Bloque2"
        "Bloque3"
        "Bloque4";
    }

    .gridServDom{
        
        grid-template-areas: 
        "BloqueSD1"
        "BloqueSD2"
        "BloqueSD3"
        "BloqueSD4"
        "BloqueSD5";
        
    }
 
    
    .gridPrincipal{
        
        grid-template-areas: 
        "princialNosotros"
        "principalSucursales"
        "principalMarcas"
        "princialProducion"
        "principalServDom"
        "principalContacto";
        
    }

    
/*Aquí las CSS para tablet y móvil verticales y móvil horizontal*/
}